[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-vroom"]
	path = bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "bundle/vim-rbenv"]
	path = bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
